.tokens-grid {
  width: 100%;
  font-family: sans-serif;
  color: #fff;
  border-colapse: collapse;
}

.tokens-grid thead th {
  padding: 0.75rem 1rem;
  text-align: left;
}

.tokens-grid body td {
  padding: 0.75rem 1rem;
  text-align: #ccc;
}


.tokens-grid tbody tr:nth-child(even) td{
  background: #444;
  
}

